:root {
  font-family: 'Press Start 2P', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: pixelated;
}

input, button {
  font-size: 24px;
}

button {
  width: fit-content;
  padding: 4px 8px
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.forest {
  position: absolute;
  background-image: url("./assets/forest.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  filter: brightness(0)
}

.arena {
  width: 100%
}

.pokemon {
  position: absolute;
  height: 35vh;
  top: 15%;
  right: 20%;
}


.form {
  position: absolute;
  background-color: white;
  left: 12px;
  bottom: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.play {
  margin: auto;
}

@media screen and (max-width: 950px) {
  .pokemon {
    right: 5%
  }
};
